[Unit]
Description=Gif Creator service
[Service]
Type=oneshot
User=gif
WorkingDirectory=/home/gif/gif_360/main/
ExecStart=/home/gif/gif_360/main/start_process.sh
SyslogIdentifier=GifCreator
[Install]
WantedBy=multi-user.target
