==========SETTINGS==========
| Sessions settings are    |
| applied to every camera  |
==========SESSION===========
Shutter speed = 1/60
Aperture = 7.1
ISO = Auto
Image format = Large Fine JPEG
========CALIBRATION=========
Shutter speed = 1/60
Aperture = 7.1
ISO = Auto
Image format = Large Fine JPEG
===========GUIDE===========
| Read *.list files to    |
| see available options   |
===========================
