==========SETTINGS==========
| Sessions settings are    |
| applied to every camera  |
==========SESSION===========
Shutter speed = 39
Aperture = 16
ISO = 4
Image format = 6
========CALIBRATION=========
Shutter speed = 52
Aperture = 16
ISO = 1
Image format = 6
===========GUIDE===========
| Read *.list files to    |
| see available options   |
===========================